.col-md-4
{
    text-align: center;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    transition: color .2s linear;
}

.col-md-4:hover
{
    color: orange;
}